myapp/tmp/*
celeritas/vendor/*
celeritas/go.sum
celeritas/go.mod
celeritas/vendor/modules.txt
myapp/.DS_Store
myapp/go.mod
myapp/go.sum
myapp/db-data/*
myapp/vendor/*
myapp/go.mod
myapp/go.sum
myapp/vendor/modules.txt
myapp/go.sum
myapp/go.mod
.DS_Store
celeritas/go.mod
celeritas/go.sum
celeritas/vendor/modules.txt
myapp/.DS_Store
celeritas/go.sum
myapp/go.mod
.DS_Store
celeritas/go.mod
celeritas/go.sum
celeritas/vendor/modules.txt
myapp/go.mod
myapp/vendor/*
myapp/.vscode/targets.log
.vscode/*
celeritas/.vscode/*

myapp/.vscode/*
.gitignore
myapp/celeritas
